<?xml version="1.0" ?>

<robot name="cyber_robt">
  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.0091611 0.00059417 0.098166"/>
      <mass value="4"/>
      <inertia ixx="0.052616" ixy="0.00012866" ixz="0.00087061" iyy="0.15378" iyz="6.3384E-05" izz="0.19568"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://cyber_robt/meshes/base_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!-- <mesh filename="package://cyber_robt/meshes/base_link.STL"/> -->
        <geometry>
          <box size="0.1 0.1 0.1"/>
        </geometry>
      </geometry>
    </collision>
  </link>
  <link name="W_B_L">
    <inertial>
      <origin rpy="0 0 0" xyz="1.04621901142465E-08 7.33407984343515E-09 0.00451444303412896"/>
      <mass value="0.110835075707755"/>
      <inertia ixx="0.000173950330336761" ixy="-9.00569003291215E-11" ixz="3.09004583221448E-11" iyy="0.000173950344543359" iyz="1.81423573220387E-11" izz="0.000277761447470617"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://cyber_robt/meshes/W_B_L.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!-- <mesh filename="package://cyber_robt/meshes/W_B_L.STL"/> -->
        <box size="0.05 0.05 0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="W_B_L_joint" type="continuous">
    <origin rpy="-1.5708 0 0" xyz="-0.19374 0.16464 0.01975"/>
    <parent link="base_link"/>
    <child link="W_B_L"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
    <dynamics damping="0.1" friction="0.1"/>
    <mimic joint="W_F_L_joint"/>
  </joint>
  <link name="W_F_L">
    <inertial>
      <origin rpy="0 0 0" xyz="1.04755673718815E-08 7.32929028579576E-09 0.0045144429988957"/>
      <mass value="0.110835075033681"/>
      <inertia ixx="0.000173950330312339" ixy="-9.00559008468017E-11" ixz="3.08963073222672E-11" iyy="0.000173950344524454" iyz="1.8142724600611E-11" izz="0.000277761447439209"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://cyber_robt/meshes/W_F_L.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.164705882352941 0.164705882352941 0.164705882352941 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.05"/>
        <!-- <mesh filename="package://cyber_robt/meshes/W_F_L.STL"/> -->
      </geometry>
    </collision>
  </link>
  <joint name="W_F_L_joint" type="continuous">
    <origin rpy="-1.5708 0 0" xyz="0.17551 0.16464 0.01975"/>
    <parent link="base_link"/>
    <child link="W_F_L"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
    <dynamics damping="0.1" friction="0.1"/>
  </joint>
  <link name="W_B_R">
    <inertial>
      <origin rpy="0 0 0" xyz="-1.04530648581402E-08 7.33744742742459E-09 -0.00451444301990683"/>
      <mass value="0.11083507549492"/>
      <inertia ixx="0.000173950330329626" ixy="9.00577592178687E-11" ixz="3.09042715809237E-11" iyy="0.000173950344535046" iyz="-1.81402735629844E-11" izz="0.000277761447462463"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://cyber_robt/meshes/W_B_R.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.164705882352941 0.164705882352941 0.164705882352941 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.05"/>
        <!-- <mesh filename="package://cyber_robt/meshes/W_B_R.STL"/> -->
      </geometry>
    </collision>
  </link>
  <joint name="W_B_R_joint" type="continuous">
    <origin rpy="-1.5708 0 0" xyz="-0.19374 -0.16473 0.01975"/>
    <parent link="base_link"/>
    <child link="W_B_R"/>
    <axis xyz="0 0 -1"/>
    <limit effort="10" velocity="10"/>
    <dynamics damping="0.1" friction="0.1"/>
    <mimic joint="W_F_R_joint"/>
  </joint>
  <link name="W_F_R">
    <inertial>
      <origin rpy="0 0 0" xyz="-1.04612485063438E-08 7.3332188099684E-09 -0.00451444303336418"/>
      <mass value="0.110835075714497"/>
      <inertia ixx="0.000173950330336794" ixy="9.00569289950247E-11" ixz="3.09003713566558E-11" iyy="0.000173950344543733" iyz="-1.81423558399572E-11" izz="0.000277761447470974"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://cyber_robt/meshes/W_F_R.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.00784313725490196 0.23921568627451 0.823529411764706 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry> 
        <box size="0.05 0.05 0.05"/>
      
        <!-- <mesh filename="package://cyber_robt/meshes/W_F_R.STL"/> -->
      </geometry>
    </collision>
  </link>
  <joint name="W_F_R_joint" type="continuous">
    <origin rpy="-1.5708 0 0" xyz="0.17626 -0.16473 0.01975"/>
    <parent link="base_link"/>
    <child link="W_F_R"/>
    <axis xyz="0 0 -1"/>
    <limit effort="10" velocity="10"/>
    <dynamics damping="0.1" friction="0.1"/>
  </joint>
  <link name="Lidar">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.0125525443278058 0.0352042399925181 1.38374507929195E-05"/>
      <mass value="0.0941041922779478"/>
      <inertia ixx="2.80065165934002E-05" ixy="-1.34915585630204E-06" ixz="-9.66826757177557E-07" iyy="6.943287134712E-05" iyz="1.57761616273888E-07" izz="4.42980194300437E-05"/>
    </inertial>
    <visual>
      <origin rpy="-1.57008 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://cyber_robt/meshes/Lidar.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="-1.57008 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.05"/>
        <!-- <mesh filename="package://cyber_robt/meshes/Lidar.STL"/> -->
      </geometry>
    </collision>
  </link>
  <joint name="Lidar_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.069913 -0.0039993 0.30878"/>
    <parent link="base_link"/>
    <child link="Lidar"/>
    <axis xyz="0.024581 -0.99967 -0.0069583"/>
  </joint>
  <link name="imu_link">
    <visual>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001"/>
    </inertial>
  </link>
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin rpy="0 0 0" xyz="0.0 0.0 0.15"/>
  </joint>
  <!-- <link
    name="U_L">
    <inertial>
      <origin
        xyz="-2.90104473364416E-05 1.03285550460686E-05 0.0015459169200831"
        rpy="0 0 0" />
      <mass
        value="0.0027914292843105" />
      <inertia
        ixx="9.5216483963157E-08"
        ixy="-1.74890226086194E-12"
        ixz="-9.87352819860933E-13"
        iyy="4.69037454882235E-07"
        iyz="-3.21316644683644E-11"
        izz="5.0499248445848E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cyber_robt/meshes/U_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cyber_robt/meshes/U_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="U_L_joint"
    type="fixed">
    <origin
      xyz="-0.027241 0.18412 0.1001"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="U_L" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="U_R">
    <inertial>
      <origin
        xyz="2.90104474093278E-05 3.11207215475395E-06 -0.00154594829482541"
        rpy="0 0 0" />
      <mass
        value="0.00279142928883128" />
      <inertia
        ixx="9.52164840205335E-08"
        ixy="1.74427793914189E-12"
        ixz="-9.95506738253083E-13"
        iyy="4.69038538712674E-07"
        iyz="1.99967094814099E-10"
        izz="5.04991401349245E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cyber_robt/meshes/U_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cyber_robt/meshes/U_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="U_R_joint"
    type="fixed">
    <origin
      xyz="-0.025809 -0.18431 0.10044"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="U_R" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="U_B">
    <inertial>
      <origin
        xyz="-0.00154517952788757 5.37308393633307E-05 -1.84585517455371E-05"
        rpy="0 0 0" />
      <mass
        value="0.00279142929729524" />
      <inertia
        ixx="5.0494597810526E-07"
        ixy="-9.90004835368537E-10"
        ixz="-2.84968225347825E-09"
        iyy="4.69058298264594E-07"
        iyz="-1.47154962142072E-09"
        izz="9.52421505751128E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cyber_robt/meshes/U_B.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cyber_robt/meshes/U_B.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="U_B_joint"
    type="fixed">
    <origin
      xyz="-0.3221 -0.0003659 0.10177"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="U_B" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="U_F">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cyber_robt/meshes/U_F.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cyber_robt/meshes/U_F.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="U_F_joint"
    type="fixed">
    <origin
      xyz="0.324153896515543 -8.10516439302966E-05 0.100420853717989"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="U_F" />
    <axis
      xyz="0 0 0" />
  </joint> -->
  <!-- Include plugin sets -->
  <!-- <plugin name="ignition::gazebo::systems::JointStatePublisher"
        filename="ignition-gazebo-joint-state-publisher-system"/> 
-->
  <!--   <plugin
            filename="gz-sim-physics-system"
            name="gz::sim::systems::Physics">
        </plugin>-->
  <!-- <plugin
        filename="gz-sim-scene-broadcaster-system"
        name="gz::sim::systems::SceneBroadcaster">
    </plugin> 

    <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
        <topic>joint_states</topic>
        <joint_name>W_F_L_joint</joint_name>
        <joint_name>W_F_R_joint</joint_name>
    </plugin> -->
  <gazebo reference="Lidar">
    <sensor name="gpu_lidar" type="gpu_lidar">
      <topic>/lidar</topic>
      <frame_id>Lidar</frame_id>
      <update_rate>10</update_rate>
       <plugin
            filename="gz-sim-sensors-system"
            name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
          </plugin> 
      <ray>
        <scan>
          <horizontal>
            <samples>640</samples>
            <resolution>1</resolution>
            <min_angle>-2.396263</min_angle>
            <max_angle>2.396263</max_angle>
          </horizontal>
          <vertical>
            <samples>1</samples>
            <resolution>0.01</resolution>
            <min_angle>0</min_angle>
            <max_angle>0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.2</min>
          <max>10.0</max>
          <resolution>0.01</resolution>
        </range>
      </ray>
      <always_on>1</always_on>
      <visualize>true</visualize>
    </sensor>
  </gazebo>
  <!-- <xacro:unless value="$(arg use_ignition)">
    <xacro:include filename="$(find cyber_robt)/urdf/classic_plugins.xacro"/>
  </xacro:unless> -->
</robot>
