<?xml version="1.0"?>
  <!-- Macro to insert Gazebo Ignition plugins -->
<xacro:macro name="ignition_plugins" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- <plugin name="ignition::gazebo::systems::JointStatePublisher"
        filename="ignition-gazebo-joint-state-publisher-system"/> 
-->
        <plugin
            filename="gz-sim-physics-system"
            name="gz::sim::systems::Physics">
        </plugin>
     <plugin
        filename="gz-sim-scene-broadcaster-system"
        name="gz::sim::systems::SceneBroadcaster">
    </plugin>

<gazebo>
    <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
        <topic>/joint_states</topic>
        <joint_name>W_F_L_joint</joint_name>
        <joint_name>W_F_R_joint</joint_name>
        <joint_name>W_B_R_joint</joint_name>
        <joint_name>W_B_L_joint</joint_name>
    </plugin> 
</gazebo>
    
    <gazebo reference="Lidar">
    <sensor name="gpu_lidar" type="gpu_lidar">
      <topic>/lidar</topic>
      <frame_id>Lidar</frame_id>
      <update_rate>10</update_rate>
       <plugin
            filename="gz-sim-sensors-system"
            name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin> 
      <ray>
        <scan>
          <horizontal>
            <samples>640</samples>
            <resolution>1</resolution>
            <min_angle>-3.1416</min_angle>
            <max_angle>3.1416</max_angle>
          </horizontal>
          <vertical>
            <samples>1</samples>
            <resolution>0.01</resolution>
            <min_angle>0</min_angle>
            <max_angle>0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.2</min>
          <max>10.0</max>
          <resolution>0.01</resolution>
        </range>
      </ray>
      <always_on>1</always_on>
      <visualize>true</visualize>
    </sensor>
  </gazebo>

   <gazebo reference="imu_link">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>/imu</topic>
      <plugin filename="libgz-sim-imu-system" name="gz::sim::systems::Imu">
        <topicName>/imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>10.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
        
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>


    <gazebo>
    <plugin filename="libgz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
        <!-- Update rate in Hz -->
        <update_rate>100</update_rate>

        
        <!-- wheels -->
        <left_joint>W_F_L_joint</left_joint>
        <left_joint>W_B_L_joint</left_joint>
        <right_joint>W_F_R_joint</right_joint> 
        <right_joint>W_B_R_joint</right_joint>

        <!-- kinematics -->
        <wheel_separation>0.9</wheel_separation>
        <wheel_radius>0.06</wheel_radius> <!-- replace with actual value -->

        <!-- limits -->
        <max_acceleration>5.0</max_acceleration>
        <max_velocity>10.0</max_velocity>

        <!-- input -->
        <topic>/cmd_vel</topic>

        <!-- output -->
        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf>
        <publish_wheel_tf>true</publish_wheel_tf>

        <odom_topic>odom</odom_topic>
        <frame_id>odom</frame_id>
        <child_frame_id>base_link</child_frame_id>
    </plugin>

    
  </gazebo>


  </xacro:macro>
